<% page_user = @user.present? ? @user : @followed %>
<div id="follow">
  <div class="row">
    <br>
    <div class="col-md-12">
      <p>
        <span><%= page_user.first_name.capitalize %> <%= page_user.last_name.capitalize %></span>
        <% if page_user.followings.find_by_follower_id(current_user.id).present? %>
        <% following_id = current_user.find_following_id_for_specific_followed_user(page_user) %>
        <span style="margin-left:10px;">
          <%= link_to "Unfollow", user_following_path(page_user, following_id),
          method: :delete, class:"btn btn-default pull-center", remote: true%>
        </span>
        <% else %>
        <span style="margin-left:10px;">
          <%= link_to 'Follow',user_followings_path(page_user), method: :post,
          class:"btn btn-default pull-center", remote: true%></span>
        <% end %>
      </p>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <!-- <p><%# @user.description if @user.description.present? %></p> -->
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4">Followers: <%= page_user.followers.count %></div>
    <div class="col-md-4">Following: <%= page_user.people_you_follow.count %></div>
    <div class="col-md-4">
      <p><i class="fa fa-file-image-o" aria-hidden="true"></i> <%= page_user.posts.count%></p>
    </div>
  </div>
</div>
