<div class="col-md-2 col-sm-4" id="sidebar1">
  <div id="userLogo">
      <%= image_tag @user.selfie.url(:medium), class:"img-responsive center-block" %>
  </div>
  <br>
  <div class="left-navigation" >
    <ul>
      <h5><strong>Your Account</strong></h5>
      <li><%= link_to 'Looks', user_path(@user), style: 'color:white;'%></li>
      <li><%= link_to 'Profile', edit_user_path(@user), style: 'color:white;'%></li>
      <li><%= link_to 'Following', user_followers_path(@user), style: 'color:white;'%></li>
      <li><%= link_to 'Collection', user_bookmarks_path(@user), style: 'color:white;'%></li>
      <li>Settings</li>
    </ul>
  </div>
</div>
