<div class="container-fluid">
  <div class="row">
    <!-- render _sidebar.html.erb -->
    <%= render 'partials/sidebar' %>
    <div class="col-md-6 col-sm-8 col-md-offset-4 col-sm-offset-4" id="edit-user">
      <%= @user.errors.full_messages.join(',') %>

      <%= form_for @user do |f| %>
        <% if @user.first_name.present? %>
        <%= f.label :first_name %>
        <%= f.text_field :first_name, class:'form-control' %>

        <%= f.label :last_name %>
        <%= f.text_field :last_name, class:'form-control' %>

        <% else %>
        <%= f.label :company_name %>
        <%= f.text_field :company_name, class:'form-control' %>
        <% end %>

        <%= f.label :email %>
        <%= f.email_field :email, class:'form-control' %>

        <%= f.label :description %>
        <%= f.text_area :description, class:'form-control', rows: 4 %>

        <%= f.label :selfie %>
        <%= f.file_field :selfie, class: 'form-control', id: "inputImage"%>
        <br>
        <div id="previewImage" style="max-width:300px;">
        </div>
        <br><br>
        <%= f.submit "Update Your Profile", class: 'btn btn-primary' %>
      <% end %>
    </div>
  </div>
</div>
