<div class="container-fluid">
  <div class="row">
    <!-- render _sidebar.html.erb -->
    <%= render 'partials/sidebar' %>
    <div class="col-md-10 col-sm-8 col-md-offset-2 col-sm-offset-4">

      <!-- Search Person -->
      <div class="container" style="margin-top:30px;" >
        <%= form_for user_followers_path, method: :get, html: { role: "search",class:"form-horizontal"} do %>
          <div class="input-group" style="width:300px">
            <%= text_field_tag :search_person, params[:search_person], class: "form-control", placeholder:"Search For Person Or Brand"%>
            <span class="input-group-btn">
              <button class="btn btn-defaul search-button" type="submit">
                  <span class=" glyphicon glyphicon-search search-icon" ></span>
              </button>
            </span>
          </div>
        <% end %>
      </div>
      <div class="panel-body" id="followers">
        <div class="tab-content">
          <div role="tabpanel" class="tab-pane active" id="list">
           <table class="table table-list table-responsive table-hover">
            <thead>
              <tr>
                <th>Selfie</th>
                <th>Name</th>
                <th class="follower-description">Brief Introduction</th>
                <th class="center-text">Connection</th>
              </tr>
            </thead>
              <tbody>
                <% if @search_name.present? %>
                  <% if @search_persons_ids.present? %>
                    <h3 align="center">Here Is the Search Result for "<%= @search_name.capitalize %>": </h3>
                    <% @search_persons_ids.each do |id| %>
                      <% p = User.find(id) %>

                      <tr class="follower-info">
                        <td class="avatar"><%= image_tag p.selfie.url(:medium), class:"img-responsive center-block" %></td>
                        <td class="follower-name">
                          <a class="purple-text" href="/users/<%= p.id %>">
                          <% if p.first_name.present? %>
                          <%= p.first_name.capitalize %> <%= p.last_name.capitalize %>
                          <% else %>
                          <%= p.company_name.capitalize %>
                          <% end %>
                          <a>
                          </td>
                        <td class="follower-description"><%= p.description %></td>
                        <td class="center-text">
                          <% if current_user.find_whether_you_followed_the_person(p) %>
                            <div>Following</div>
                            <%= link_to "Unfollow", user_following_path(current_user, current_user.find_following_id_for_specific_followed_user(p)), class:'btn btn-default purple-button',method: :delete%>
                          <% else %>
                            <%= link_to 'Follow',user_followings_path(p), class:'btn btn-default purple-button', method: :post%>
                          <% end %>
                        <td>
                      </tr>
                    <% end %>
                  <% else %>
                    <h3>Can Not Find Relevant Result</h3>
                  <% end %>
                <% else %>
                  <% @followings.each do |f| %>
                    <tr class ="follower-info">
                      <td class="avatar"><%= image_tag f.selfie.url(:medium), class:"img-responsive center-block" %></td>
                      <td class="follower-name">
                        <a class="purple-text" href="/users/<%= f.id %>">
                        <% if f.first_name.present? %>
                        <%= f.first_name.capitalize %> <%= f.last_name.capitalize %>
                        <% else %>
                        <%= f.company_name.capitalize %>
                        <% end %>
                        <a>
                        </td>
                      <td class="follower-description"><%= f.description %></td>
                      <td class="center-text">
                        <%= link_to "Unfollow", user_following_path(current_user, f.following_id), class:'btn btn-default purple-button', method: :delete%>
                      <td>
                    </tr>
                  <% end %>
                <% end %>
              </tbody>
            </table>
          </div><!-- END id="list" -->
        </div>
      </div>

    </div>
  </div>
</div>
