<div class="container-fluid">
  <div class="row">
    <!-- render _sidebar.html.erb -->
    <%= render 'partials/sidebar' %>
    <div class="col-md-10 col-sm-8 col-md-offset-2 col-sm-offset-4" id="main-content">

      <!-- <div class="container" style="margin-top:20px;">
        <div class="row">
          <div id="followers" class="col-md-12" >
            <div class="panel panel-primary panel-table animated slideInDown">
              <div class="panel-heading " style="padding:5px;">
                  <div class="row">
                    <h3>Followers</h3>
                  </div>
              </div> -->
              <div class="panel-body" id="followers">
                <div class="tab-content">
                  <div role="tabpanel" class="tab-pane active" id="list">
                   <table class="table table-list table-hover table-responsive">
                    <thead>
                      <tr>
                        <th>Selfie</th>
                        <th>Name</th>
                        <th>Brief Introduction</th>
                        <th>Unfollow</th>
                      </tr>
                    </thead>
                      <tbody>
                        <% @followings.each do |f| %>
                          <tr id="followerinfo">
                            <td class="avatar"><%= image_tag f.selfie.url(:medium), class:"img-responsive center-block" %></td>
                            <td id="followerName"><a href="/users/<%= f.id %>"><%= f.first_name.capitalize %> <%= f.last_name.capitalize %><a></td>
                            <td id="followerDescription"><%= f.description %></td>
                            <% f.following_id%>
                            <td>
                              <%= link_to "Unfollow", user_following_path(current_user, f.following_id), method: :delete%>
                            <td>
                          </tr>
                        <% end %>

                      </tbody>
                    </table>
                  </div><!-- END id="list" -->
                </div>
              </div>
            <!-- </div>
          </div>
        </div>
      </div> -->

    </div>
  </div>
</div>
