<div class="container-fluid">
  <div class="row">
    <!-- render _sidebar.html.erb -->
    <%= render 'partials/sidebar' %>
    <div class="col-md-10 col-sm-8 col-md-offset-2 col-sm-offset-4" id="main-content">
      <div class="panel-body" id="followers">
        <div class="tab-content">
          <div role="tabpanel" class="tab-pane active" id="list">
           <table class="table table-list table-hover table-responsive">
            <thead>
              <tr>
                <th>Selfie</th>
                <th>Name</th>
                <th>Brief Introduction</th>
                <th>Unfollow</th>
              </tr>
            </thead>
              <tbody>
                <% if @search_word.present? %>
                  <% if @search_persons_ids.present? %>
                    <h3>Here Is the Search Result for "<%= @search_word.capitalize %>": </h3>
                    <h3>Follow <%= @search_word.capitalize %> Now?</h3>
                    <% @search_persons_ids.each do |id| %>
                      <% p = User.find(id) %>
                      <tr id="followerinfo">
                        <td class="avatar"><%= image_tag p.selfie.url(:medium), class:"img-responsive center-block" %></td>
                        <td id="followerName">
                          <a href="/users/<%= p.id %>">
                          <% if p.first_name.present? %>
                          <%= p.first_name.capitalize %> <%= p.last_name.capitalize %>
                          <% else %>
                          <%= p.company_name.capitalize %>
                          <% end %>
                          <a>
                          </td>
                        <td id="followerDescription"><%= p.description %></td>
                        <td>
                          <!-- TODO if following relationship exit the shows unfollow; search full name??? -->
                          <%= link_to 'Follow',user_followings_path(p), method: :post%>
                        <td>
                      </tr>
                    <% end %>
                  <% else %>
                    <h3>Can Not Find Relevant Result</h3>
                  <% end %>
                <% else %>
                  <% @followings.each do |f| %>
                    <tr id="followerinfo">
                      <td class="avatar"><%= image_tag f.selfie.url(:medium), class:"img-responsive center-block" %></td>
                      <td id="followerName">
                        <a href="/users/<%= f.id %>">
                        <% if f.first_name.present? %>
                        <%= f.first_name.capitalize %> <%= f.last_name.capitalize %>
                        <% else %>
                        <%= f.company_name.capitalize %>
                        <% end %>
                        <a>
                        </td>
                      <td id="followerDescription"><%= f.description %></td>
                      <td>
                        <%= link_to "Unfollow", user_following_path(current_user, f.following_id), method: :delete%>
                      <td>
                    </tr>
                  <% end %>
                <% end %>
              </tbody>
            </table>
          </div><!-- END id="list" -->
        </div>
      </div>

    </div>
  </div>
</div>
