<!-- modal body content-->
<div class="iPictures" data-interaction="hover">
  <div class="ip_slide">
    <%= image_tag @post.picture.url(:medium), class:"img-responsive center-block ip_tooltipImg" %>
    <% @post.items.each do |i| %>
      <div class="ip_tooltip ip_img32" style="top: <%= i.y %>px; left: <%= i.x %>px;" data-button="moreblue" data-tooltipbg="bgblack" data-round="roundBgW" data-animationtype="ltr-slide">
        <ul><li><%= Brand.find(i.brand).name %></li><li><%= i.kind %></li><li>$<%= i.price %></li><li><%= i.detail %></li><% if i.link.present? %><li><a href="<%= i.link %>">Find item here</a></li><% end %></ul>
      </div>
    <% end %>
  </div>
</div>
<%= render "partials/like_bookmark_wrapper", p: @post %>


<script>
  $(".iPictures").iPicture();
</script>
