<div class="jumbotron jumbotron-fluid">
  <div class="container" id="letter-logo">
    <h1>STYLITE</h1>
    <p class="lead">Style Is A Way To Say Who You Are Without Having To Speak</p>
  </div>
</div>

<div class="container">
  <!-- Search  -->
  <% if @search_word.present? %>
    <% if @search_posts_ids.present? %>
    <h3>Your Search Result for "<%= @search_word.downcase.capitalize %>":</h3>
    <br>
      <div class="row">
      <% @search_posts_ids.each do |id| %>
        <% p = Post.find(id) %>
        <div class="col-md-4 post-col-4">
          <div class="iPictures" data-interaction="hover">
            <div class="ip_slide">
              <%= image_tag p.picture.url(:medium), class:"img-responsive center-block ip_tooltipImg" %>
              <% p.items.each do |i| %>
                <div class="ip_tooltip ip_img32" style="top: <%= (i.y) * (33.7/40.0) %>px; left: <%= (i.x) * (33.7/40.0)%>px;" data-button="moreblue" data-tooltipbg="bgblack" data-round="roundBgW" data-animationtype="ltr-slide">
                  <ul><li><%= Brand.find(i.brand).name %></li><li><%= i.kind %></li><li>$<%= i.price %></li><li><%= i.detail %></li><% if i.link.present? %><li><a href="<%= i.link %>">Find item here</a></li><% end %></ul>
                </div>
              <% end %>
            </div>
          </div>

            <%= render "partials/like_bookmark_wrapper", p: p %>

        </div>
      <% end %>
      </div>
    <% else %>
    <h3>No Relavant Result </h3>
      <div style="height:400px;">
      </div>
    <% end %>
    <br>
    <br>
  <% else %>
  <!-- List of Posts -->
  <div class="row" style="padding:20px 0px;">
    <h2 class="boxtitle horizontal-line-h2"><span>New</span></h2>
    <div class='list-group gallery'>
      <ul id = "slide2">
        <% @last_posts.each do |p| %>
        <div class="crop">
          <%= link_to post_path(p), remote: true do %>
            <%= image_tag p.picture.url(:medium), class:"img-responsive" %>
          <% end %>
        </div>
        <% end %>
      </ul>
    </div>
  </div>
  <div class="row" style="padding:20px 0px;">
    <h2 class="boxtitle horizontal-line-h2"><span>Trending</span></h2>
    <div class='list-group gallery'>
      <ul id="slide3">
        <% @most_liked_posts.each do |p| %>
        <div class="crop">
          <%= link_to post_path(p), remote: true do %>
            <%= image_tag p.picture.url(:medium), class:"img-responsive" %>
          <% end %>
        </div>
        <% end %>
    </ul>
    </div>
  </div>
  <% if user_signed_in? && current_user.is_public %>
  <% list_of_post = [] %>
  <div class="row" style="padding:20px 0px;">
    <h2 class="boxtitle horizontal-line-h2"><span>From Your Following</span></h2>
    <div class='list-group gallery'>
      <ul id="slide1">
        <% @friends_new_posts.each do |p| %>
        <div class="crop">
          <%= link_to post_path(p), remote: true do %>
            <%= image_tag p.picture.url(:medium), class:"img-responsive" %>
          <% end %>
        </div>
        <% end %>
      </ul>
    </div>
  </div>

  <!-- follow normal user -->
  <div class="row find_new_friends" style="padding:20px 0px;">
    <h2 class="horizontal-line-h2"><span>Find New Friends?</span></h2>
    <div>
      <% counter1 = 1%>
      <% @users.each do |u| %>
        <% if !(current_user.people_you_follow_ids.include? u.id) && (counter1 < 7) %>
          <% following = current_user.followings.find_by(user: u) %>
          <% if !following.present? && !(business_user?(u)) && u != current_user%>
          <div class="col-sm-2" style="margin-bottom: 10px;">
            <div class="card" >
                <div class="header-bg" width="250" height="70" id="card-head-one"></div>
                <div class="avatar">
                  <%= image_tag u.selfie.url(:medium), class:"img-responsive center-block" %>
                </div>
                <div class="content">
                  <p><i class="fa fa-user-circle fa-lg" aria-hidden="true"></i>&nbsp;<%= u.first_name.capitalize %></p>
                  <p>Followers: <%= u.followers.count %></p>
                  <p><%= link_to 'Follow',user_followings_path(u), method: :post, class:"btn btn-default"%></p>
                </div>
            </div>
          </div>
          <% counter1 += 1 %>
          <% end %>
        <% end %>
      <% end %>
    </div>
  </div>
  <br>

  <!-- follow business_user -->
  <div class="row" style="padding:20px 0px;">
    <h2 class="horizontal-line-h2"><span>Interested In Any Brand?</span></h2>
    <div>
      <% counter2 = 1%>
      <% @users.each do |u| %>
        <% if !(current_user.people_you_follow_ids.include? u.id) && (counter2 < 7) %>
          <% following = current_user.followings.find_by(user: u) %>
          <% if !following.present? && business_user?(u) && u!= current_user%>
          <div class="col-sm-2" style="margin-bottom: 10px;">
            <div class="card" >
              <div class="header-bg" width="250" height="70" id="card-head-two"></div>
              <div class="avatar">
                <%= image_tag u.selfie.url(:medium), class:"img-responsive center-block" %>
              </div>
              <div class="content">
                <p><i class="fa fa-diamond fa-lg" aria-hidden="true"></i>&nbsp;<%= u.company_name %></p>
                <p>Followers: <%= u.followers.count %></p>
                <p><%= link_to 'Follow',user_followings_path(u), method: :post, class:"btn btn-default"%></p>
              </div>
            </div>
          </div>
          <% counter2 += 1 %>
          <% end %>
        <% end %>
      <% end %>
    </div>
  </div>
  <% end %>
  <br>


<% end %>
</div>

<footer class="footer">
  <div class="container">
    <div class="row">
    <h4 class="title">Stylite</h4>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin suscipit, libero a molestie consectetur, sapien elit lacinia mi.</p>
      <ul class="social-icon">
      <a href="#" class="social"><i class="fa fa-facebook" aria-hidden="true"></i></a>
      <a href="#" class="social"><i class="fa fa-twitter" aria-hidden="true"></i></a>
      <a href="#" class="social"><i class="fa fa-instagram" aria-hidden="true"></i></a>
      <a href="#" class="social"><i class="fa fa-youtube-play" aria-hidden="true"></i></a>
      <a href="#" class="social"><i class="fa fa-google" aria-hidden="true"></i></a>
      <a href="#" class="social"><i class="fa fa-dribbble" aria-hidden="true"></i></a>
      </ul>
    </div>
  </div>

</footer>

<%= render "layouts/modal" %>
