<div class="container-fluid">
  <div class="row">
    <% if user_signed_in? %>
      <% @user = current_user%>
      <!-- render _sidebar.html.erb -->
      <%= render 'partials/sidebar' %>
      <div class="col-md-10 col-sm-8 col-md-offset-2 col-sm-offset-4">
        <br>
        <div class="container" id="newPost">
        	<div class="row">
        		<div class="col-md-8 col-md-offset-2 col-xs-8 col-xs-offset-2">

              <!-- new post form start -->
              <div class = "row" >
                <div class="col-md-12" id='new-post'>
                  <h3>What's your look today?</h3>
                  <br>
                  <%= form_for @post, html: {id:"newPostForm"} do |f| %>
                  <div class="form-group">
                    <%= f.label "Season", style:"margin-right: 10px;" %>
                    <%= f.collection_select :category_id, Category.order(:name), :id, :name, {}, {class:'chosen-select', style:'width:150px'} %>
                  </div>
                  <div class="form-group">
                    <%= f.label "Gender", style:"margin-right: 10px;"%>
                    <%= f.collection_select :gender_id, Gender.order(:gender), :id, :gender, {}, {class:'chosen-select', style:'width:150px'} %>
                  </div>
                  <div class="form-group">
                    <i class="fa fa-file-image-o" aria-hidden="true" style="margin-right:5px;"></i>
                    <%= f.file_field :picture, id: "input-picture"%>
                  </div>
                  <!-- <div class="form-group">
                    <%# f.label :description %>
                    <%# f.text_area :description, rows:"4", class:"form-control"%>
                  </div>  -->
                  <%= f.submit "Share your new look", class:"btn btn-primary", id:"new-post-button"%>
                  <input type="hidden" name="items_json" id="items">
                  <% end %>
                </div>
              </div>

              <br>
              <!-- preview picture -->
              <div class="row hidden" id="new-post-div" style="background-color:#282a2d; color:white;border-radius:10px;padding:10px;">
                <div class="col-md-7">
                  <div class="hidden" id="message1">
                    <p>Share Details About Each Item By Clicking On The Image</p>
                  </div>
                  <div id="iPicture" data-interaction="hover">
                    <div id="preview-image" class="ip_slide">

                    </div>
                  </div>
                </div>

                <div class="col-md-5">
                  <div class="hidden" id="message2">
                    <p>Item details</p>
                  </div>
                  <div id="new-item-form-div" class="center-text hidden">
                    <form method="post" id="new-item-form">
                      <label>Brand:</label>
                      <%= select_tag :brand, options_for_select(Brand.all.map{|b| b.name}.sort_by{ |b| b.downcase }), id:"itemBrand", name: "brand", class: "form-control chosen-select"%>
                      <label>Category:</label>
                      <%= select_tag :kind, options_for_select(["Outerwears", "Jackets", "Bombers",
                        "Blazers", "Trousers", "Shorts", "Jeans", "Joggings", "Shirts",
                        "T-shirts", "Polo", "Tops", "Sweatshirts", "Dresses", "Sweaters", "Shoes",
                        "Bags", "Rings ", "Hats", "Scarves", "Ties", "Belts", "Swimwear",
                        "Necklaces", "Bracelets", "Earrings ", "Watches", "Sunglasses", "Glasses", "Skirt"]),
                        id:"item_kind", name: "kind", class: "form-control chosen-select"%>
                      <label>Details:</label>
                      <input type="text" name="detail" value="" id="item-detail" class="form-control">
                      <label>Price:</label>
                      <input type="text" name="price" value="" id="item-price" class="form-control">
                      <label>Link:</label>
                      <input type="text" name="link" value="" id="item-link" class="form-control">
                      <br>
                      <input type="submit" name="" value="+" class="btn btn-primary" style="border-radius:100%;">
                    </form>
                  </div>
                </div>
              </div>


        		</div>
        	</div>
        </div>

      </div>
      <% end %>
  </div>
</div>
